[date-theme="light"]{
    
    --primary: #b0cbe4;
    --background: rgb(228, 244, 240);
    --text: #000;
}
[date-theme="dark"]{
    --primary: #959493;
    --background: rgb(47, 47, 49);
    --text: rgb(224, 220, 220);
}

body{
    color: var(--text);
    background-color:  var(--background);
   
}
nav{
    background-color: var(--primary);
   
}

table, th, td, tr{
    color: var(--text);
    

}


.main{
    
    margin-left: 5%;  
    margin-right: 5%;
}
.main2{
    margin-left: 5%; 
    margin-right: 5%;
}
.tabla{
    margin-left: 5%; 
    margin-right: 5%; 
    
}
footer{
    color: var(--text);
    background-color: var(--primary);
}

tr:hover {
    transform: scale(1.2);
   background-color: rgb(144, 168, 159);
   color: #000;
   
}
a:hover {
   
   color: #000;
   
}

/* li:hover {
    transform: scale(1.1);
   background-color: aquamarine;
   border-radius: 40%;
} */
.top_nav{
display: flex;
justify-content: space-between;

}
.info_email{
    padding-left: 25%;
}
nav ul li a{
    color: var(--text);
}
/* .main{
    /* min-height: 400px;text-align: center;
    filter: brightness(0.5);
    
    background-repeat: no-repeat;
    /* background-image: url(https://cdnuploads.aa.com.tr/uploads/Contents/2021/04/10/thumbs_b_c_232729705a797c04ac941b21336dd92a.jpg?v=010111); */
    /* background-position: center;
    background-size: cover; */ 

.imagen {
    width: 100%;
    color: white;
    font-size: 1.2em;
        
}
.card-body{
    background-color:  var(--background);
}

button {
    background-color: var(--primary);
    padding: 10px;
    border: none;
    font-family: 'Roboto Serif', serif;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/* Estilos del switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: var(--background);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
